RewriteEngine On

# Si le fichier ou le dossier existe → ne rien faire
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Si on est sur la racine du site (http://localhost:8080/)
RewriteRule ^$ /frontend/acceuil.html [L]

# Si aucune autre règle ne correspond (page inexistante)
RewriteRule ^ frontend/acceuil.html [L]